@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.card{
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.stats{
    background: #f2f5f8 !important;
    color: #000 !important;
}

.articles{
    font-size:10px;
    color: #a1aab9;
}

.number1{
    font-weight:500;
}

.followers{
    font-size:10px;
    color: #a1aab9;
}

.number2{
    font-weight:500;
}

.rating{
    font-size:10px;
    color: #a1aab9;
}

.number3{
    font-weight:500;
}

.meupost{
    background: #f2f5f8 !important;
    color: #000 !important;
}

.perfil-foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 460px;
  height: 200px;
  width: 200px;
}