{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <h1>Comunidade</h1>
        <h2 style="color: #0e6efb">Todo mundo em um só lugar</h2>
        <hr>
        {% for post in posts %}
            <div class="row border mt-4 p-3 meupost">
                <div class="col col-md-3">
                    <div class="image pe-2 d-flex flex-column">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="perfil-foto" width="200" >
                        <strong class="col mt-2" style="text-align: center;">{{ post.autor.username }}</strong>
                        <div class="row justify-content-center">
                            <div class="col" style="text-align: center;">
                                {% for curso in post.autor.cursos.split(';') %}
                                    {% if curso and curso != 'Não Informado' %}
                                        <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-9">
                    <a href="{{ url_for('exibir_post', post_id=post.id) }}" style="text-decoration: none">
                        <h3> {{ post.titulo }}</h3>
                    </a>
                    <p>{{ post.corpo }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}